@import '../../style/widget.scss';

#data-table-parent {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.data-table-number-input {
    max-width: 3.5em;
    text-align: center;
    color: #fdc597;
    background-color: #4e4e4b;
    box-shadow: 0 0 10px 2px #3b3b3b;
    border: 2px solid $widgetBorderColor;
    border-radius: 0.4em;
    padding: 0.3em;
}

.data-table-number-input:active {
    border: none !important;
}

.data-table-health {
    max-width: 3.5em;
    text-align: center;
}

.data-table-initiative {
    max-width: 3.5em;
    text-align: center;
}

.data-table-btn {
    margin-top: 1em;
    margin-right: 0.8em;
}

.data-table-bordered {
    border: 2px solid $widgetBorderColor;
    text-align: center;
    padding: 0.6em;
}

.data-table-header {
    background-color: #363636;
    color: #e0bc9f;
}

.data-table-row:nth-child(even) {
    background-color: #363636;
}

.data-table-row:nth-child(even) .data-table-input {
    box-shadow: 0 0 10px 2px #2d2d2d;
}

.data-table-row:nth-child(odd) {
    background-color: #303030;
}

#data-table-starve-days {
    font-weight: bold;
    text-align: center;
    color: #e0bc9f;
}

.data-table-update-btn {
    color: #f2c8a5;
    background: none;
    font-weight: bolder;
    text-align: center;
    margin: 0 0.4em 0 0.4em;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border: 2px solid #e7c9b0c3;
    cursor: pointer;
}

.data-table-rest-btn {
    margin-right: 1em;
    font-size: 11px;
    margin-bottom: 5px;
}
