@import '../../style/widget.scss';

.selector-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .selection {
        .selector-dropdown {
            margin-right: 0.8em;
            min-width: 60%;
        }
    }
}
