@import '../../style/widget.scss';

#selector-widget {
    display: flex;
    align-items: center;
    justify-content: center;
}

#selector-dropdown {
    margin-right: 0.8em;
    min-width: 60%;
}

#selector-dropdown:active {
    color: #f3c49e !important;
    background-color: #3f3f42 !important;
}
