@import '../../../style/widget.scss';

.attack-form-input {
    margin-right: 0.8em;
}

.attack-form-label {
    margin-left: 1em;
    margin-right: 2em;
}

.attack-form-contents {
    padding: 0.8em;
    border-right: 2px solid $widgetInputDisabledTextColor;

    .attack-form-select-all {
        padding: 0.5em 0 0.5em 0.8em;
        display: flex;
        flex-direction: row;
    }

    .attack-form-row {
        display: flex;
        flex-direction: row;
        margin-top: 0.8em;
        background-color: $widgetBackgroundColor4;
        border: 2px solid $widgetBorderColor2;
        border-radius: 10px;
        padding: 0.8em;
    }
}

.attack-form-results {
    overflow-y: scroll;
    padding: 0.8em;
    min-width: 20em;
}
