#app-parent {
    padding: 1.2em;
}

.app-widgets {
    position: relative;
    margin-right: 2.7em;
    float: left;
}

#app-players {
    margin-bottom: 1.6em;
    margin-right: 1.2em;
}

#app-enemies {
    margin-right: 1.2em;
}

#app-encounter-selector {
    margin-bottom: 1.6em;
}

#app-name-lists {
    min-width: 30%;
    margin-right: 1.6em;
    float: right;
}

#app-npcs {
    margin-bottom: 1.6em;
}