@import './widget.scss';

#ordered-table-parent {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.ordered-table-bordered {
    border: 2px solid #5a5a5a;
    text-align: center;
    padding: 8px;
}

.ordered-table-header {
    background-color: #363636;
    color: #e0bc9f;
}

.ordered-table-row:nth-child(even) {
    background-color: #363636;
}

.ordered-table-row:nth-child(odd) {
    background-color: #494949;
}

#ordered-table-index {
    font-weight: bold;
    text-align: center;
    color: #e0bc9f;
}