@import './theme.scss';

.widget-box {
    padding: 0.8em;
    max-width: fit-content;
    border-radius: 0.6em;
    box-shadow: 0 0 10px 3px $widgetShadowColor;
    background-color: $widgetBackgroundColor;
    min-width: 100%;
}

.widget-btn {
    padding: 0.4em 0.55em 0.4em 0.55em;
    color: $widgetInputTextColor;
    background-color: $widgetInputBackgroundColor;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 7px 2px $widgetInputShadowColor;
    border-radius: 0.3em;
    cursor: pointer;
}

.widget-btn:hover:not([disabled]) {
    background-color: $widgetInputHoverBgColor;
}

.widget-btn:active:not([disabled]) {
    color: $widgetInputActiveTextColor;
    background-color: $widgetInputActiveBgColor;
}

.widget-btn:disabled {
    color: $widgetInputDisabledTextColor;
    background-color: $widgetInputDisabledBgColor;
    cursor: default;
}

.widget-input {
    padding: 0.4em 0.55em 0.4em 0.55em;
    color: $widgetInputTextColor;
    background-color: $widgetInputBackgroundColor;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 7px 2px $widgetInputShadowColor;
    border-radius: 0.3em;
    cursor: text;
}

.widget-input:disabled {
    color: $widgetInputDisabledTextColor;
    background-color: $widgetInputDisabledBgColor;
    cursor: default;
}
