@import '../../style/widget.scss';

.menu-container {
    display: flex;
    align-items: right;
    justify-content: right;

    .menu-button {
        margin-left: 0.8em;
    }

    #menu-file-dialog {
        display: none !important;
    }
}
