#modal-parent {
    background-color: white;
    margin: auto;
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: 999 !important;
}

#modal-close-btn {
    font-weight: bold;
    float: right;
}