@import '../../../style/widget.scss';

.attack-modal-input {
    margin-right: 0.8em;
}

.attack-modal-row {
    margin-top: 0.8em;
    background-color: #3a3a3a;
    border: 2px solid #5a5a5a;
    border-radius: 10px;
    padding: 0.8em;
}

#attack-modal-select-all {
    padding: 0.5em 0 0.5em 0.8em;
}

#attack-modal-target {
    padding: 0.8em;
    border-right: 2px solid $widgetInputDisabledTextColor;
}

#attack-modal-results {
    overflow-y: scroll;
    padding: 0.8em;
    min-width: 20em;
}
