@import '../../../style/widget.scss';

.form-field-modal-body {
    margin: 0.75em;
    margin-bottom: 0.25em;
    min-width: 4em;
}

.form-field-modal-body.tabbed {
    z-index: 999;
    margin-top: 0 !important;
}

.form-field-modal-btn {
    margin-right: 0.8em;
}

.form-field-modal-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-field-modal-input:hover {
    color: $widgetInputTextColor !important;
    background-color: $widgetInputBackgroundColor !important;
}

.form-field-modal-label {
    display: block;
}

.form-field-modal-text-input {
    cursor: text !important;
}

.form-field-modal-number-input {
    max-width: 6em;
    cursor: text !important;
}

.form-field-modal-textarea-input {
    min-width: 25em;
    cursor: text !important;
}

.form-field-modal-validation {
    font-size: small;
    color: $widgetErrorTextColor;
}
